$font-0: 'Roboto';
$url-0: url('../fonts/Roboto-Medium-webfont.eot');
$url-1: url('../fonts/Roboto-Medium-webfont.eot?#iefix');
$url-2: url('../fonts/Roboto-Medium-webfont.woff');
$url-3: url('../fonts/Roboto-Medium-webfont.ttf');
$url-4: url('../fonts/Roboto-Medium-webfont.svg#robotomedium');

$black: #000000;
$white: #FFFFFF;

@custom-media --mq-mobile (max-width: 320px);
@custom-media --mq-tablet (min-width: 321px) and (max-width: 740px);
@custom-media --mq-desktop (min-width: 741px) and (max-width: 980px);
@custom-media --mq-wide (min-width: 981px);

$owl-button-color: red;
$owl-button-opacity: 0.5;
